.top-page-menu {
  display: flex;
  background-color: white;
  justify-content: center;
  width: 100%;
}

.top-page-menu-body {
  align-items: flex-end;
  display: flex;
  padding: 8px 0 16px;
  width: 940px;
}

.toolbar-body {
  display: flex;
  width: 940px;
}
